{% extends 'PhotoBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/photo/css/admin.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/photo/js/admin.js') }}"></script>
{% endblock %}

{% block header %}
    {{ parent() }}
    <div id="logout">
        <a href="{{ path('logout') }}">ВЫХОД</a>
    </div>
    <div class="clear"></div>
    <div id="admin_menu">
        {{ knp_menu_render('admin_main') }}
    </div>
{% endblock %}