{% extends 'PhotoBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/photo/css/lightbox.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/photo/js/lib/lightbox.js') }}"></script>
{% endblock %}

{% block content %}
    {% if photos %}
        {% for photo in photos %}
            <div class="image_galery">
                <a href="/uploaded/images/800x800/{{ photo.name }}" data-lightbox="galery-set">
                    <img src="/uploaded/images/200x200/{{ photo.name }}" alt="Фото {{ loop.index }} альбома {{ albumName }}">
                </a>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-warning" role="alert">
            В данном альбоме нет фотограффий
        </div>
    {% endif %}

    <div class="clear"></div>
{% endblock %}