{% extends 'PhotoBundle::base.html.twig' %}

{% block content %}
    <div id="blog_content">
        {% if posts %}
            {% for post in posts %}
                <div class="row">
                    <div class="col-sm-3 text-center">
                        {% if post.mainImage %}
                            <img src="{{ post.mainImage }}" alt="{{ post.title }}" width="95%">
                        {% else %}
                            <img src="{{ asset('bundles/photo/images/camera.png') }}" alt="Статья без фото" width="95%">
                        {% endif %}
                    </div>
                    <div class="col-sm-9">
                        <h3 class="text-center">{{ post.description }}</h3>
                        <p class="text-right text-info">
                            <a href="{{ path('photo_blog_article', {'id': post.id}) }}">
                                ПОДРОБНЕЕ
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-warning" role="alert">
                Страница находится в разработке
            </div>
        {% endif %}
    </div>
{% endblock %}