{% extends 'PhotoBundle:Pages/Admin:base.html.twig' %}

{% block content %}
    <h1 class="header_form">Добавление альбома</h1>

    {{ form_start(form) }}
    <div class="album_form">
        <div class="row_form">
            <div class="column_form left">
                {{ form_label(form.caption) }}
            </div>
            <div class="column_form right">
                {{ form_widget(form.caption) }}
                <div class="error_form">
                    {{ form_errors(form.caption) }}
                </div>
            </div>
        </div>

        <div class="row_form">
            <div class="column_form left">
                {{ form_label(form.url) }}
            </div>
            <div class="column_form right">
                {{ form_widget(form.url) }}
                <div class="error_form">
                    {{ form_errors(form.url) }}
                </div>
            </div>
        </div>

        <div class="row_form">
            <div class="column_form left">
                {{ form_label(form.enabled) }}
            </div>
            <div class="column_form right">
                {{ form_widget(form.enabled) }}
                <div class="error_form">
                    {{ form_errors(form.enabled) }}
                </div>
            </div>
        </div>
        <div class="row_form">
            <div class="column_form left">
                <ul class="record_actions">
                    <li>
                        <a href="{{ path('admin_albums') }}">
                            Back to the list
                        </a>
                    </li>
                </ul>

            </div>
            <div class="column_form right">
                {{ form_widget(form.submit) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
