{% extends 'PhotoBundle:Pages/Admin:base.html.twig' %}

{% block content %}
    <h1>Статья "{{ entity.title }}"</h1>

    <div class="container show-post">
        <div class="row">
            <div class="col-sm-3 text-right">Идентификатор</div>
            <div class="col-sm-9">{{ entity.id }}</div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-right">Дата создания</div>
            <div class="col-sm-9">{{ entity.dateCreate|date('Y-m-d H:i:s') }}</div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-right">Заголовок</div>
            <div class="col-sm-9">{{ entity.title }}</div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-right">Краткое содержание</div>
            <div class="col-sm-9">{{ entity.description }}</div>
        </div>
        <div class="row">
            <div class="col-sm-3 text-right">Текст</div>
            <div class="col-sm-9">{{ entity.text|raw }}</div>
        </div>

        <a href="{{ path('admin_posts') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left" title="Назад"></span>
            Вернеться к списку
        </a>
        <br>
        <a href="{{ path('admin_posts_edit', { 'id': entity.id }) }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-edit" title="Редактировать"></span>
            Редактировать
        </a>
        {{ form(delete_form) }}
    </div>

    {#<table class="record_properties">
        <tbody>
        <tr>
            <th>Идентификатор</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Дата создания</th>
            <td>{{ entity.dateCreate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Дата обновления</th>
            <td>{{ entity.dateUpdate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Заголовок</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Краткое содержание</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>Текст</th>
            <td>{{ entity.text }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_posts') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('admin_posts_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>#}
{% endblock %}
